{{ partial "head.html" . }}

<div class="container">

  {{ $url := "bars" }}
  {{ $images := readDir "static/bars" }}

    {{ $last := sub ( len $images ) 1 }}
    {{ range $index, $item := $images }}
      {{ if in .Name ".png" }}
      {{ $humanName := title (index (split (index (split .Name ".") 0) "_") 1) }}

        {{ if eq (mod $index 2) 0 }}
          <div class="row">
        {{ end }}

            <div class="col s12 m6{{ if and (eq $index $last) (eq (mod $index 2) 0) }} offset-m3{{ end }}">
              <!-- <a href="{{$url }}/{{.Name | urlize }}"> -->

                <div class="img-wrapper">
                  <img class="responsive-img hover-img" src="{{ $url }}/{{ $item.Name }}" alt="{{ $humanName }}"/>
                  <!-- <div class="valign"> -->
                  <p class="white-text center-align">{{ $humanName }}</p>
                  <!-- </div> -->
                </div>

              <!-- </a> -->
            </div>

        {{ if or (eq $index $last) (eq (mod $index 2) 1) }}
          </div>
        {{ end }}


        {{ $index := add $index 1 }}
      {{ end }}
    {{ end }}

</div>

{{ partial "footer.html" .}}
